@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Roboto:wght@300;400;700Roboto:wght@300;400;700&family=Playfair+Display:wght@300;400;600&display=swap');

$sans: 'Roboto', sans-serif;
$serif: 'Playfair Display', serif;
$font: 'Monserrat', sans-serif;

$white: #FFFFFF;
$purple: #CCB3D8;
$blue: #A7CBF2;
$yellow: #FFE98C;
$green: #A5C495;
$cream: #EFE9E3;
$pink: #efbfbd;
$dark: #261F1F;

$orange: #E67C25;
$lightred: #D2394D;
$black: #222222;
$main: #2a2a2a;
$gray: #eeeaea;


$ease: all .4s ease;
$fast: all .2s ease-out;
